@import url("/assets/css/dashboard/global.css");

/* -----------------------------------------
     Footer
  ------------------------------------------ */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: var(--light-white-color);
  border-top: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  transition: background-color 0.4s, color 0.4s;
  z-index: 1100;
}
