@import url("/assets/css/dashboard/global.css");

/* -----------------------------------------
     Overlay (for mobile sidebar)
  ------------------------------------------ */
/* Scrollbar styling for sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

/* Overlay for mobile sidebar */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-dark-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1040;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .sidebar {
    width: var(--sidebar-expanded-width);
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 70px;
  }

  .sidebar.collapsed {
    width: var(--sidebar-expanded-width) !important;
  }

  .sidebar.active {
    transform: translateX(0);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
  }
  .main-content {
    margin-left: 0;
    padding: 1rem;
    padding-top: 80px;
  }

  .hamburger {
    display: inline-block;
  }

  #sidebarToggleBtn {
    display: none;
  }
}
